
<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{          //TODO #1: Use a loop to display job results in a table.

        @foreach (var jobListing in ViewBag.jobs)
        {
            <table class="job-listing">

                @*<tr>
                    <td>ID: @jobListing.Id</td>
                    <td>Name: @jobListing.Name</td>
                    <td>Employer: @jobListing.Employer</td>
                    <td>Location: @jobListing.Location</td>
                    <td>Position Type: @jobListing.PositionType</td>
                    <td>Core Competency: @jobListing.CoreCompetency</td>
                </tr>*@

            </table>


        }

     }
</div>